BODY
{
	padding:0px; BACKGROUND: #FFFFFF url('img/fond.jpg') left top; MARGIN: 0px;
}

*
{
	FONT-SIZE:12px; FONT-FAMILY: Verdana, 'Lucida Grande', Arial, sans-serif;
}

h1
{
	text-align:center;FONT-SIZE:15px;
}

a
{
	TEXT-DECORATION:none;FONT-WEIGHT:bold;color:#7A6F5B;
}

A:hover
{
	TEXT-DECORATION:none;FONT-WEIGHT:bold;color:#0B6320;
}

.lienLegende
{
	FONT-SIZE:9px;color:#BBBBBB;
}

.lienAvantApres
{
	FONT-SIZE:9px;color:#111111;
}

.tableCalendrier, .tableAnciens
{
	border-collapse:collapse;border-width:2px;border-style:solid;border-color:#111111;
}

.tableCalendrier td, .tableAnciens td
{
	FONT-WEIGHT:bold;border-width:1px;border-style:solid;padding:3px;border-color:#000000;border-spacing:0px;text-align:center;
}

.tableAnciens td
{
	FONT-SIZE:11px;
}

.gaucheTable
{
	background-color:#A7DDFF;
}

.gaucheTablePetit
{
	background-color:#A7DDFF;FONT-SIZE:9px;
}

.hautTable *
{
	background-color:#A7DDFF;FONT-SIZE:11px;
}

.hautTablePetit *
{
	background-color:#A7DDFF;FONT-SIZE:9px;
}

.hautTableAutreCouleur *
{
	background-color:#EAE0DA;FONT-SIZE:11px;
}

.cellWeekEnd
{
	background-color:#CCCCCC;
}

.cellSemaine
{
	background-color:#A7DDFF;
}

.cellSemaine a
{
	color:#000000;
}

.cellSemaine a:hover
{
	color:#EE0000;
}

.cellWeekEnd a
{
	color:#000000;background-color:#CCCCCC;
}

.cellWeekEnd a:hover
{
	color:#EE0000;background-color:#CCCCCC;
}

.tableLegende td
{
	padding:3px;FONT-SIZE:10px;border-width:1px;border-style:solid;border-color:#000000;
}

.tableLegende
{
	border-width:2px;border-style:solid;border-color:#000000;border-collapse:collapse;
}

.tableFormulaire td
{
	padding:8px;
}

.tableFormulaire
{
	background-color:#A7DDFF;border-collapse:collapse;border-width:2px;border-style:solid;border-color:#111111;padding:50px;
}

.tablePresentation
{
	border-width:2px;border-style:solid;border-color:#000000;background-color:#EAE0DA;
}

.titreInformation
{
	TEXT-DECORATION:none;FONT-WEIGHT:bold;FONT-SIZE:13px;
}

.titreCharrette
{
	TEXT-DECORATION:none;FONT-WEIGHT:bold;FONT-SIZE:19px;color:#7A6F5B;
}

.titreGalerie
{
	FONT-FAMILY:Comic Sans MS;TEXT-DECORATION:none;FONT-WEIGHT:bold;FONT-SIZE:22px;color:#7A6F5B;
}

.tableRepertoire tr td
{
	text-align:left;
}

.tableRepertoire tr td a
{
	FONT-FAMILY:Comic Sans MS;FONT-WEIGHT:bold;FONT-SIZE:17px;color:#7A6F5B;
}

.tableRepertoire tr td a:hover
{
	color:#EE0000;
}

select
{
	border-width:1px;margin:0px;
}

.tdMessageForum
{
	background-color:#F5F5F5;
}

.tableMessageForum
{
	border-width:2px;border-style:solid;border-color:#000000;background-color:#E4E4F8;
}

.tableMessageForum *
{
	FONT-SIZE:11px;
}
