/* CSS du menu horizontal */

.tableMenu
{
	border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#000000;
}

.menu
{
    padding:0;
    margin:0;
}

.menu ul
{
    position:absolute;
    padding:0;
    margin: 0px;
    border:1px #999999 solid;
    background-color: #FFFFFF;
}
    
.menu li ul
{
    visibility:hidden;
}

.menu li li ul
{
    position:absolute;
    margin-left:124px;
    margin-top:-23px;
}
    
.menu li
{
    list-style:none;
    height:auto;
    display:inline;
    display:block;
    float:none;
    float:left;
    margin:0;
    padding:0;
}

.menu li li
{
    display:block;
    float:none;
}
    
/* correct a little IE bug */
* html .menu li li{
    display:inline;
    }

.menu a
{
    text-align:left;
    color: #7A6F5B;
    display:block;
    text-decoration:none;
    font-size:12px;
    padding:1px 20px;
    margin:1px;
    white-space:nowrap;
}
    
.menu a:hover
{
    background-color: #CCFFCC;
    color: #7A6F5B;
    font-size:12px;
}
    
/* for a mozilla better display with key nav */
.menu a:focus
{
    background-color: #aaf;
}
